.light-bg {
    background: #e5e5e5;
}
.light-bg.light-text {
    background: #aaa;
}
.dark-bg {
    background: #222426;
}
.dark-bg.dark-text {
    background: #444;
}
.dark-bg.light-text .home, .dark-bg.light-text .main-return, .dark-bg.light-text .options, .dark-bg.light-text .title {
    color: #ffffff;
}
.dark-bg.light-text .wunder path {
    fill: rgba(255, 255, 255, 0.3);
}
.dark-bg.light-text .home:hover, .dark-bg.light-text .main-return:hover, .dark-bg.light-text .options:hover {
    color: #fff;
}
.dark-bg.light-text .wunder:hover path {
    fill: #fff;
}
.blue-bg {
    background: #84c0d7;
}
.red-bg {
    background: #903d3d;
}
.orange-bg {
    background: #d2ab59;
}
.green-bg {
    background: #6fb269;
}
.purple-bg {
    background: #6c5287;
}
.aqua-bg {
    background: #3193a5;
}
.mint-bg {
    background: #5cbf94;
}
