<div class="credits">
	<a href="https://twitter.com/henrymodis" target="_blank" class="person-item">
		<div class="face henry"></div>
		<p class="name">Henry Modisett</p>
		<p class="who">Design &middot; San Francisco, CA &middot; @henrymodis</p>
	</a>
	<a href="https://twitter.com/vitaly_babiy" target="_blank" class="person-item">
		<div class="face vitaly"></div>
		<p class="name">Vitaly Babiy</p>
		<p class="who">Engineering &middot; Charlotte, NC &middot; @vitaly_babiy</p>
	</a>
	<a href="https://twitter.com/nataliefschoch" target="_blank" class="person-item">
		<div class="face natalie"></div>
		<p class="name">Natalie Schoch</p>
		<p class="who">Illustration &middot; San Francisco, CA &middot; @nataliefschoch</p>
	</a>
</div>