<div class="options">
    <form>
        <section>
            <h2>Temperature</h2>

            <div class="group">
                <input name="unitType" type="radio" value="f" id="fahrenheit" ng-model="settings.unit"/>
                <label for="fahrenheit">Fahrenheit</label>
            </div>
            <div class="group">
                <input name="unitType" type="radio" value="c" id="celsius" ng-model="settings.unit"/>
                <label for="celsius">Celsius</label>
            </div>
        </section>
        <section>
            <h2>Hours</h2>

            <div class="group">
                <input name="clock" type="radio" ng-value="12" id="time12" ng-model="settings.hoursFormat"/>
                <label for="time12">12</label>
            </div>
            <div class="group">
                <input name="clock" type="radio" ng-value="24" id="time24" ng-model="settings.hoursFormat"/>
                <label for="time24">24</label>
            </div>
        </section>
        <section>
            <h2>Seconds</h2>

            <div class="group">
                <input name="seconds" type="radio" ng-value="true" id="show-seconds"
                       ng-model="settings.secondsEnabled"/>
                <label for="show-seconds">On</label>
            </div>
            <div class="group">
                <input name="seconds" type="radio" ng-value="false" id="hide-seconds"
                       ng-model="settings.secondsEnabled"/>
                <label for="hide-seconds">Off</label>
            </div>
        </section>
        <section>
            <h2>Choose Your Language</h2>

            <div class="group">
                <select name="lang" id="lang" ng-model="settings.language">
                    <option value="AF">Afrikaans</option>
                    <option value="AL">Albanian</option>
                    <option value="AR">Arabic</option>
                    <option value="HY">Armenian</option>
                    <option value="AZ">Azerbaijani</option>
                    <option value="EU">Basque</option>
                    <option value="BY">Belarusian</option>
                    <option value="BU">Bulgarian</option>
                    <option value="LI">British English</option>
                    <option value="MY">Burmese</option>
                    <option value="CA">Catalan</option>
                    <option value="CN">Chinese - Simplified</option>
                    <option value="TW">Chinese - Traditional</option>
                    <option value="CR">Croatian</option>
                    <option value="CZ">Czech</option>
                    <option value="DK">Danish</option>
                    <option value="DV">Dhivehi</option>
                    <option value="NL">Dutch</option>
                    <option value="EN">English</option>
                    <option value="EO">Esperanto</option>
                    <option value="ET">Estonian</option>
                    <option value="FA">Farsi</option>
                    <option value="FI">Finnish</option>
                    <option value="FR">French</option>
                    <option value="FC">French Canadian</option>
                    <option value="GZ">Galician</option>
                    <option value="DL">German</option>
                    <option value="KA">Georgian</option>
                    <option value="GR">Greek</option>
                    <option value="GU">Gujarati</option>
                    <option value="HT">Haitian Creole</option>
                    <option value="IL">Hebrew</option>
                    <option value="HI">Hindi</option>
                    <option value="HU">Hungarian</option>
                    <option value="IS">Icelandic</option>
                    <option value="IO">Ido</option>
                    <option value="ID">Indonesian</option>
                    <option value="IR">Irish Gaelic</option>
                    <option value="IT">Italian</option>
                    <option value="JP">Japanese</option>
                    <option value="JW">Javanese</option>
                    <option value="KM">Khmer</option>
                    <option value="KR">Korean</option>
                    <option value="KU">Kurdish</option>
                    <option value="LA">Latin</option>
                    <option value="LV">Latvian</option>
                    <option value="LT">Lithuanian</option>
                    <option value="ND">Low German</option>
                    <option value="MK">Macedonian</option>
                    <option value="MT">Maltese</option>
                    <option value="GM">Mandinka</option>
                    <option value="MI">Maori</option>
                    <option value="MR">Marathi</option>
                    <option value="MN">Mongolian</option>
                    <option value="NO">Norwegian</option>
                    <option value="OC">Occitan</option>
                    <option value="PS">Pashto</option>
                    <option value="GN">Plautdietsch</option>
                    <option value="PL">Polish</option>
                    <option value="BR">Portuguese</option>
                    <option value="PA">Punjabi</option>
                    <option value="RO">Romanian</option>
                    <option value="RU">Russian</option>
                    <option value="SR">Serbian</option>
                    <option value="SK">Slovak</option>
                    <option value="SL">Slovenian</option>
                    <option value="SP">Spanish</option>
                    <option value="SI">Swahili</option>
                    <option value="SW">Swedish</option>
                    <option value="CH">Swiss</option>
                    <option value="TL">Tagalog</option>
                    <option value="TT">Tatarish</option>
                    <option value="TH">Thai</option>
                    <option value="TR">Turkish</option>
                    <option value="TK">Turkmen</option>
                    <option value="UA">Ukrainian</option>
                    <option value="UZ">Uzbek</option>
                    <option value="VU">Vietnamese</option>
                    <option value="CY">Welsh</option>
                    <option value="SN">Wolof</option>
                    <option value="JI">Yiddish - transliterated</option>
                    <option value="YI">Yiddish - unicode</option>
                </select>
            </div>
        </section>
        <section>
            <h2>Zoom Level</h2>

            <div class="group">
                <select name="zoom" id="zoom" ng-model="settings.zoom">
                    <option value="auto">Auto</option>
                    <option value="in">Zoomed In</option>
                    <option value="out">Zoomed Out</option>
                </select>
            </div>
        </section>
        <section>
            <h2>Location</h2>

            <div class="group">
                <select name="location" ng-model="location">
                    <option value="auto">Auto</option>
                    <option value="custom">Custom</option>
                </select>
                <input ng-show="location == 'custom'" type="text" ng-model="settings.location.name" id="address" placeholder="Boulder, CO, 80305, USA"
                       ng-model-options="{ updateOn: 'blur' }"/>
            </div>
        </section>
    </form>
</div>